@import "tailwindcss";

:root {
  --color-primary: #0c3b2e;
  --color-secondary: #6d9773;
  --color-accent: #bb8a52;
  --color-shimmer: #bb8a52;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-shimmer: var(--color-shimmer);
}

body {
  background-color: #faecdce4;
}
