/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@import "tailwindcss";

:root {
  --color-primary: #34967c;
  --color-secondary: #151117;
  --color-accent: #ffa800;
  --color-shimmer: #ebebeb;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-shimmer: var(--color-shimmer);
}
